<script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- <script src="/webjars/bootstrap-datepicker/1.0.1/js/bootstrap-datepicker.js"></script> -->
<script type="text/javascript" src="${pageContext.request.contextPath}/static/js/main.js"></script>
<div class="footer">ykchin @ 2022</div>
</body>

</html>